@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
:root{
    font-size: 20px;
    color: white;
    font-family: 'Prosto One', cursive;
    --primary-color :#b00c0f;
}
*{
    padding: 0;
    margin: 0;
    transition: all 0.5s ;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: black;
    scroll-behavior: smooth;
    background-image: url("../images/bg.gif");
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y:overlay ;
}
::-webkit-scrollbar-thumb{
    border: 0.2rem solid transparent;
    background-clip: padding-box;
    background-color: var(--primary-color);
}
::-webkit-scrollbar{
    width: 0.5rem;
    background-color: transparent;
}
/* Header */
#header{
    display: flex;
    position: fixed;
    height: 100vh;
    color: white;
    z-index: 1000;
    flex-direction: column;
    width: 2vw;
    justify-content: center;
    text-align: center;
}
#header:hover{
    display: flex;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    width: 10vw;
}
#header:hover *{
    display: block;
}
#header *{
    color: black;
    margin:auto 1rem;
    display: none;
}
#header input{
    appearance: none;
    background-color: transparent;
    border: none;
    width: 2rem;
    margin: auto;
    height: 2rem;
}
#header input::-webkit-color-swatch{
    border-radius: 50%;
    outline: 0.2rem solid rgb(18,18,18);
    border: 0.1rem solid rgb(18,18,18);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

/* Home */
#home{
    background:linear-gradient(transparent,rgb(18,18,28));
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#home div#logo_container{
    width: 40vw;
    margin:0 5rem 0 auto;
    padding: 0;
}
#home img.logo{
    width: 50%;
    position: absolute;
    transform: translate(0,-50%);
    filter: hue-rotate(360deg);
}


#home img.logo:nth-child(1){
    animation: glowing infinite ease-in 2s;
}

#home div#text_container{
    font-size: 1.5rem;
    text-align: center;
    margin:0 auto 0 2rem;
    width: 60vw;

}
#home div#text_container h1 span{
    color: var(--primary-color);
}
#home div#text_container p{
    color: var(--primary-color);
    margin: 0;

}
#home div#text_container img {
    margin: 1rem auto;
    width: 3rem;
}
#home div#text_container img:hover {
    transform: rotateZ(360deg);
}

/* About ME */
#aboutMe{
    height: 100vh;
    background-image: linear-gradient(rgb(18,18,28),rgb(0,0,0));
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#aboutMe img{
    width: 25%;
    height: 25vw;
    border-radius: 50%;
    border: 0.5rem solid var(--primary-color);
    margin: auto;
}
#aboutMe div{
    font-size: 2rem;
    width: 55%;
    margin: auto;
}
#aboutMe div p{
    translate: 2rem;
}
@keyframes glowing {
    0%,100%{
        filter: blur(7px);
    }
    50%{
        filter: blur(2px);
    }
    
}
div#Skills{
    background-color: white;
    color: rgb(18,18,18);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div#Skills h1{
    text-align: center;
    font-size: 3rem;
}
div#Skills div.skillContainer{
    display: flexbox;
    width: 100vw;
    text-align: center;
    padding:1rem;
    justify-content: center;
    font-weight: 600;
}
div.skillContainer div.totalbar{
    display: flex;
    width: 50%;
    background-color: rgb(18,18,18);
    height: 5vh;
    font-size:3vh;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0px;
    border-radius: 20rem;
    /* outline: .5vh solid rgb(18,18,18); */
}
div.bar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translateY(-0.5vh); */
    background-color: var(--primary-color);
    border-radius: 20rem;
    color:rgb(18,18,18) ;
    height:5vh;
    outline: 0.5vh solid transparent;
    box-shadow: none;
    
}

